<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="araikovich.studio.intenttutorials">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewFlagActivity"></activity>
        <activity android:name=".StarostaActivity" />

        <receiver
            android:name=".PrepodReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app" />
            </intent-filter>
        </receiver>

        <activity android:name=".ShowBroadcastActivity" />
        <activity android:name=".SecondYearActivity" />
        <activity android:name=".DeansOfficeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShporaActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>